@font-face {
    font-family: 'Lustria';
    src: url('Istok_Web\,Lustria.zip') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

/* NAVIGATION BAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    flex-wrap: wrap;
}

hr {
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #f0f0f0;
}

.shop-name {
    font-size: 26px;
    font-family: 'Lustria';
    font-weight: lighter;
}

.shop-name-link {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.shop-name-link:hover {
    color: #ffc4d1;
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.search-bar {
    width: 300px;
    max-width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    padding: 0 10px;
    outline: none;
}

.icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 10px; 
}

.cart-link {
    text-decoration: none;
    transition: 0.3s;
}

.cart-link:hover {
    border-bottom: 5px solid #F9E2E7;
    padding-bottom: 5px;
}

.cart-link.active {
    display: inline-block;
    border-bottom: 5px solid #F9E2E7;
    padding-bottom: 5px;
}

/* PRODUCTS */

.products-page {
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

.products {
    margin-bottom: 20px;
    font-size: 16px;
    display: inline-block;
    border-bottom: 5px solid #F9E2E7;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
}

.product-card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(238, 238, 238, 0.1);
	width: 100%;
    max-width: 250px;
    height: 100%; 
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-card:hover .product-name {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-name {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    flex-grow: 1;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 5px;
}

.product-card button {
    width: 100%;
    background-color: #F9E2E7;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

.product-card button:hover {
    background-color: #ffc4d1;
}

/* CART */
.cart-page {
    display: flex;
    height: calc(100vh - 100px); 
	width: 100%;
}

.cart-container {
    flex: 2;
    padding: 20px;
}

.order-summary {
    flex: 1;
    padding: 20px;	
}

.my-cart {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 5px solid #F9E2E7;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 5px;
}

.cart-item img {
    width: 100px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.item-details {
    flex: 1;
    margin-right: 10px;
}

.item-details h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 14px;
    font-weight: bold;
}

span {
    text-align: right;
}

.shipping {
    font-style: italic;
}

.item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity {
    width: 80px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s;
}

.update-btn {
    background-color: #F9E2E7;
    padding: 5px 10px;
    margin-left: 10px;
    border: none; 
    font-size: 16px;
    cursor: pointer; 
    transition: 0.3s;
}

.update-btn:hover {
    background-color: #ffc4d1;
}

.delete-btn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.delete-btn img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    margin: 0;
}

.order-summary h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-summary p {
    margin: 5px 0;
    font-size: 16px;
}

.order-summary h2 {
    font-size: 16px;
    margin-top: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #F9E2E7;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.checkout-btn:hover {
    background-color: #ffc4d1;
}

.checkout-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .cart-page {
        flex-direction: column; 
    }

    .cart-container, .order-summary {
        width: 100%; 
        flex: unset; 
    }

    .order-summary {
        margin-top: 20px;
    }
}

/* POP-UPS */
.cart-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-popup h2 {
    font-size: 26px;
}

.cart-popup p {
    font-size: 16px;
}

.cart-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close-btn {
    font-size: 28px;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: #ffc4d1;
}

.cart-popup h2 {
    margin-top: 0;
}

.cart-popup p {
    font-size: 16px;
}

.checkout-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.checkout-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.checkout-popup h2 {
    margin-top: 0;
    font-size: 26px;
}

.checkout-popup p {
    font-size: 16px;
}

.checkout-confirm-btn {
    background-color: #F9E2E7;
    color: black;
    padding: 10px 50px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.checkout-cancel-btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

.checkout-confirm-btn:hover {
    background-color: #ffc4d1;
}

.checkout-cancel-btn:hover {
    background-color: #ffc4d1;
}